@import '../../styles/global.scss';

.button {
  @include subtle-shadow($co-cta);
  @include shadow-transition;
  background: $co-white;
  border: 2px solid $co-cta;
  border-radius: 5px;
  color: $co-cta;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.15s linear;
  white-space: nowrap;

  &:hover {
    @include subtle-hovered-shadow($co-cta);
    @include shadow-transition;
    background-color: $co-cta;
    color: $co-white;
    cursor: pointer;
    transition: background-color 0.15s linear;
  }

  &:disabled {
    @include shadow-disabled;
    background-color: $co-ctaInactive;
    border-color: $co-ctaInactive;
    color: $co-primary;

    &:hover {
      @include shadow-disabled;
      color: $co-primary;
      cursor: not-allowed;
    }
  }

  &--big {
    font-size: $fs-verybig;
    padding: 12px 49px;
  }

  &--small {
    font-size: $fs-medium;
    padding: 7px 30px;
  }
}
