@import '../../styles/global.scss';

.topic {
  width: $sz-mainContent;
  margin: 0 auto;
  padding-bottom: $sz-padding;
  &__description__title {
    font-size: $fs-biggest;
    font-weight: $fw-book;
  }
  &__subtopic {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__title {
      font-size: $fs-verybig;
      font-weight: $fw-book;
      padding-bottom: 33px;
    }

    & + & {
      padding-top: $sz-padding;
    }
  }
}
