@import '../../styles/global.scss';

.button-wrapper {
  padding-bottom: $sz-padding;
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: flex-end;

  // &--big {
  //   width: 100%;
  // }

  div + div {
    margin-left: 14px;
  }
}

.button-wrapper--big {
  width: 100%;
}
