@import '../../styles/global.scss';

.toast {
  @include shadow($co-blueLighterShadow);
  @include shadow-transition;
  background-color: $co-white;
  border-radius: 5px;
  display: block;
  margin: 0 auto 49px;
  width: $sz-mainContent;
  padding: 49px;

  &:hover {
    @include shadow($co-blueShadow);
    @include shadow-transition;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  &--negative {
    @include shadow($co-ctaLight);
    &:hover {
      @include shadow($co-cta);
      @include shadow-transition;
      transition: box-shadow 0.3s ease-in-out;
    }
  }

  &--positive {
    @include shadow($co-positiveCtaLight);
    &:hover {
      @include shadow($co-positiveCta);
      @include shadow-transition;
      transition: box-shadow 0.3s ease-in-out;
    }
  }

  h3 {
    margin-bottom: 19px;
  }

  &__content {
    display: flex;
    align-items: flex-start;

    p {
      margin: 0 79px 0 0;
      /* NB. line-clam implementation of ellipsis is not supported in all browsers, fallback (gracefull degradation) style is provided */
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      /* end line-clamp */
    }
  }

  &--invisible {
    opacity: 0;
    transition: 0.5s all ease;
  }
}
