@mixin shadow($color) {
  -webkit-box-shadow: 0px 0px 10px 4px $color;
  -moz-box-shadow: 0px 0px 10px 4px $color;
  box-shadow: 0px 0px 10px 4px $color;
}

@mixin subtle-shadow($color) {
  -webkit-box-shadow: 0px 0px 10px -5px $color;
  -moz-box-shadow: 0px 0px 10px -5px $color;
  box-shadow: 0px 0px 10px -5px $color;
}

@mixin subtle-hovered-shadow($color) {
  -webkit-box-shadow: 0px 0px 10px -2px $color;
  -moz-box-shadow: 0px 0px 10px -2px $color;
  box-shadow: 0px 0px 10px -2px $color;
}

@mixin shadow-disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin shadow-transition {
  transition: box-shadow 0.3s ease-in-out;
}

@mixin textarea {
  border: 1px solid $co-blueShadow;
  border-radius: 5px;
  height: 150px;
  margin: 0 79px 0 0;
  max-width: 100%;
  padding: 12px;
  width: 100%;

  &::-webkit-input-placeholder {
    color: lightgray;
    font-weight: 100;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: lightgray;
    font-weight: 100;
  }

  &:-moz-placeholder {
    /* Firefox 19+ */
    color: lightgray;
    font-weight: 100;
  }

  &:-ms-input-placeholder {
    color: lightgray;
    font-weight: 100;
  }

  &::placeholder {
    color: lightgray;
    font-weight: 100;
  }
}
