// COLORS
$co-primary: #143241;
$co-cta: #ff7A57;
$co-title: #90C9E6;
$co-link: #08A7F3;
$co-editMode: #FFE39B;

//LINEHEIGHT
$lh-regular: 30px;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$ff-primary: 'Montserrat', sans-serif;

//FONTSIZE
$fs-small: 14px;
$fs-root: 16px;
$fs-medium: 20px;
$fs-big: 26px;
$fs-verybig: 33px;
$fs-biggest: 42px;

//FONTWEIGHT
$fw-light: 300;
$fw-book: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-bolder: 900;

//z-index
$zi-modal: 100;
$zi-menu: 10;
$zi-negativ: -1;
