// COLORS
$co-primary: rgb(20, 50, 65);
$co-cta: rgb(255, 122, 87);
$co-ctaInactive: rgb(242, 241, 241);
$co-title: rgb(144, 201, 230);
$co-link: rgb(8, 167, 243);
$co-editMode: rgb(255, 227, 155);
$co-yellowBackground: rgba(253, 185, 14, 0.02);
$co-white: rgb(253, 253, 253);
$co-blackShadow: rgba(10, 10, 10, 0.1);
$co-blueShadow: rgba(144, 201, 230, 0.5);
$co-blueLighterShadow: rgba(144, 201, 230, 0.25);

//LINEHEIGHT
$lh-regular: 30px;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$ff-primary: 'Proxima Nova', 'Montserrat', Arial, sans-serif;

//FONTSIZE
$fs-small: 14px;
$fs-root: 16px;
$fs-medium: 20px;
$fs-big: 26px;
$fs-verybig: 33px;
$fs-biggest: 42px;

//FONTWEIGHT
$fw-light: 300;
$fw-book: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-bolder: 900;

//z-index
$zi-modal: 100;
$zi-menu: 10;
$zi-negativ: -1;

// Sizes
$sz-headerHeight: 100px;
$sz-mainContentTopOffset: calc(#{$sz-headerHeight} + 79px);
$sz-mainWrapper: 1200px;
$sz-mainContent: 75%;
