@import './generic.fonts';

html {
  font-size: 100%;
  font-family: $ff-primary;
}
div {
  background-color: red;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
}
