html {
  font-size: 100%;
  font-family: $ff-primary;
  color: $co-primary;
}

.cta {
  color: $co-cta;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

h1 {
  font-size: $fs-biggest;
}

h2 {
  font-size: $fs-verybig;
}

h3 {
  font-size: $fs-big;
}

p {
  font-size: $fs-root;
  line-height: $lh-regular;
  text-align: left;
}

a {
  color: $co-link;
  font-weight: $fw-bold;
}

ul {
  list-style: none;
  padding: 0;
}
