@import '../../styles/global.scss';

.wrapper {
  background-color: $co-yellowBackground;
  width: $w-mainWrapper;
  height: 100vh;
  @include shadow($co-blackShadow);
  // $w-mainContent

  position: fixed;
  top: 0;
  left: 50%;
  transform: 50%;
  position: fixed;
  padding-top: $sz-headerHeight;
  z-index: $zi-negativ;
  transform: translateX(-50%);
}
