@import '../../styles/global.scss';

.wrapper {
  @include shadow($co-blackShadow);
  align-items: baseline;
  background-color: $co-yellowBackground;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $sz-mainContentTopOffset;
  padding-bottom: 127px;
  position: relative;
  width: $sz-mainWrapper;
}
