@import '../../styles/global.scss';

.subtopic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__name {
    height: 50px;
    @include textarea;
    margin-right: 35px;
  }
}
