@import '../../styles/global.scss';

.resources {
  margin-top: 12px;
  margin-bottom: 35px;
  .resource {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    > input {
      @include textarea;
      width: 45%;
      height: 35px;
      margin: 0;
    }
  }
}
