@import '../../styles/global.scss';

.modal {
  align-items: center;
  background-color: $co-primary-transparent;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $zi-modal;
  backdrop-filter: blur(6px);

  > article {
    transform: translateY(-30%);
    width: $sz-mainWrapper;
  }
}
