@import '../../styles/global.scss';

.header {
  @include shadow($co-blueShadow);
  align-items: center;
  background-color: $co-white;
  display: flex;
  height: $sz-headerHeight;
  position: fixed;
  width: $sz-mainWrapper;
  z-index: $zi-menu;
  left: 50%;
  transform: translateX(-50%);

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: $sz-mainContent;
    &--main {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
    > img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__logo {
    margin-right: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;

    &__title {
      display: inline;
      font-size: $fs-verybig;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__subtitle {
      display: inline;
      font-size: $fs-verybig;
      font-weight: $fw-book;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
