@import '../../styles/global.scss';

.header {
  @include shadow($co-blueShadow);
  align-items: center;
  background-color: $co-white;
  display: flex;
  height: 100px;
  margin: 0 auto;
  width: $w-mainWrapper;

  &__content {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: $w-mainContent;
  }

  &__logo {
    margin-right: 49px;
  }
}
