@import '../../styles/global.scss';

.header {
  @include shadow($co-blueShadow);
  align-items: center;
  background-color: $co-white;
  display: flex;
  height: $sz-headerHeight;
  position: fixed;
  width: $sz-mainWrapper;
  z-index: $zi-menu;
  left: 50%;
  transform: translateX(-50%);

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: $sz-mainContent;
    &--main {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
    > img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__logo {
    margin-right: 30px;
  }

  &__title {
    display: inline;
    font-size: $fs-biggest;
  }

  &__subtitle {
    display: inline;
    font-size: $fs-biggest;
    font-weight: $fw-book;
  }
}
