@import '../../styles/global.scss';

.editor__container {
  display: block;
  margin: 0 auto;
  width: $sz-mainContent;
  &__name {
    @include textarea;
    margin-bottom: 12px;
    height: 50px;
  }

  &__description {
    @include textarea;
    margin-bottom: 12px;
    height: 100px;
  }
  > button {
    margin-bottom: 49px;
  }

  > h3 {
    padding-bottom: 12px;
  }
}
